.navTopBar {
    align-items: center;
    display: flex;
    height: 10vh;
    justify-content: space-between;
    padding-left: 5vw;
    padding-right: 5vw;
}

.navLogo {
    color: #e6b329;
    font-size: 2.5ch;
}

.navBtnContainer {
    align-items: center;
    display: flex;
    justify-content: center;
}

.navBtn {
    align-items: center;    
    background-color: #2e2e2e;    
    border-radius: 3vw;
    display: flex;
    height: 10vw;
    justify-content: center;
    margin-left: 3vw;
    width: 10vw;
    opacity: 0.5;
    transition: 0.3s;
}

.navBtnIcon {
    width: 3ch;
}

.navBtn:hover {
    opacity: 1;
}
