.root {
    align-items: center;
    display: flex;
    flex: 1;
    justify-content: center;
}

/* login page */

.loginRoot {
    background-image: url('./img/loginBG.png');
    background-size: 100vh;
}

.loginStrip {
    align-items: center;
    background-color: rgba(35, 35, 44, 0.4);
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
    width: 100vw;
}

.loginIcons {
    height: 3ch;
}

.loginText {
    font-size: 5ch;
    color: #e0e0e0;
}

.loginInputLabel {
    margin-top: 3vh;
    margin-bottom: 1vh;
    color: #e0e0e0;
    width: 30ch;
}

.loginInputBox {
    align-items: center;
    display: flex;
    border-bottom: #e0e0e0 solid 1px;
    padding-bottom: 1vh;
    width: 30ch;
}

.loginInput {
    background-color: transparent;
    border: 0;
    color: #e0e0e0;
    height: 3vh;
    padding-left: 1vh;
    outline: none;
    width: 30ch;
}

.loginInput::placeholder {
    color: #8a8a9c;
}

.loginSelect {
    background-color: transparent;
    border: 0;
    color: #e0e0e0;
    height: 3vh;
    padding-left: 1vh;
    outline: none;
    width: 34ch;
}

.loginOption {
    background-color: #1a1a24;
    outline: none;
    border: 0;
}

.loginBtn {
    align-items: center;
    background-color: #e6b329;
    border: 0;
    border-radius: 2.5vh;
    display: flex;
    height: 5vh;
    justify-content: center;
    margin-top: 2vh;
    outline: none !important;
    width: 35ch;
}

/* main page */

.mainTopBar {
    align-items: center;
    display: flex;
    height: 10vh;
    justify-content: space-between;
    padding-left: 5vw;
    padding-right: 5vw;
}

.mainLogo {
    color: #e6b329;
    font-size: 2.5ch;
}

.mainLoginText {
    font-size: 1.5ch;
}

.mainStartBtnContainer {
    background-color: #1f1f33;
    border-radius: 1.5ch;
    height: 5ch;
    width: 5ch;
}

.mainStartBtn {
    width: 3ch;
}

.mainContent {
    background-color: #2d2d41;
    height: 85vh;
    overflow: scroll;
    width: 100vw;
}

.mainDir {
    align-items: center;
    display: flex;
    height: 7vh;
    justify-content: space-between;
}

.mainFolderIcon {
    margin-left: 5vw;
    width: 4ch;
}

.mainFolderText {
    width: 70vw;
}

.mainCheckbox {
    margin-right: 5vw;
    width: 2ch;
}

.mainBottomBar {
    align-items: center;
    display: flex;
    height: 5vh;
    justify-content: space-between;
    padding-left: 5vw;
    padding-right: 5vw;
}